<!--<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main class="index-container">
    <h1>Bienvenido</h1>
    <a href="/paises" class="btn">Ir a Países</a>
  </main>
</body>
</html>-->

