<!--<style>
  footer {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  position: fixed; /* fijo abajo */
  bottom: 0;
  width: 100%;
  border-top: 2px solid orange;
}

/* MAIN CONTENT para no tapar con footer */
.content {
  padding: 20px;
  margin-bottom: 60px; /* espacio para el footer fijo */
}
</style>-->
<footer>
  <p>Autor: Rodrigo Romano</p>
  <p>Repo: <a href="https://github.com/tu-repo" target="_blank">GitHub</a></p>
</footer>
