<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/paises/agregar">Agregar País</a></li>
        <li><a href="/acerca/gini">Acerca de</a></li>
    </ul>
</nav>

